#
# Custom policy based on localhost (created on {{ current_date }})
#

# The name of this policy (displayed in the output during scans). Must be in quotes.
name = "Custom SSH Audit Policy"

# The version of this policy (displayed in the output during scans). Not parsed, and may be any value, including strings.
version = {{ ssh_policy_version }}

# The banner that must match exactly. Commented out to ignore banners, since minor variability in the banner is sometimes normal.
# banner = "SSH-2.0-OpenSSH_8.4p1 Debian-5+deb11u1"

# The compression options that must match exactly (order matters).
compressions = {{ ssh_compression }}

# Dictionary containing all host key and size information. Optionally contains the certificate authority's signature algorithm ('ca_key_type') and signature length ('ca_key_size'), if any.
host_key_sizes = {{ ssh_host_key_sizes }}

# Group exchange DH modulus sizes.
dh_modulus_sizes = {{ ssh_dh_modulus_sizes }}

# The host key types that must match exactly (order matters).
host keys = {{ ssh_host_key_algorithms }}

# Host key types that may optionally appear.
#optional host keys = ssh-ed25519-cert-v01@openssh.com,sk-ssh-ed25519@openssh.com,sk-ssh-ed25519-cert-v01@openssh.com,rsa-sha2-256-cert-v01@openssh.com,rsa-sha2-512-cert-v01@openssh.com

# The key exchange algorithms that must match exactly (order matters).
key exchanges = {{ ssh_kex }}

# The ciphers that must match exactly (order matters).
ciphers = {{ ssh_ciphers }}

# The MACs that must match exactly (order matters).
macs = {{ ssh_macs }}